<div class="has-limit">
  <div class="row">
    <%= form_for(@option) do |f| %>
      <% if @option.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

          <ul>
          <% @option.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-12 col-md-6">
        <div class="form-group edit-pro-contact">
          <fieldset>
            <%= f.label :key %>
            <%= f.text_field :key %>
          </fieldset>
          <fieldset>
            <%= f.label :value %>
            <%= f.text_field :value %>
          </fieldset>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
