<div class="has-limit">
	<div class="row">
		<%= nested_form_for @contact, :url => "/clients/#{@contact.slug}" do |f| %>
			<div class="bar-header col-sm-12 col-md-12">
				<h2><%= action_name.capitalize %> Client</h2>
			</div>
			
			<div class="col-sm-12 col-md-6">
				<% if @contact.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
						<ul>
							<% @contact.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="edit-pro-info">
					<div class="form-group edit-pro-img">
						<% if @contact.profile_image.present? %>
							<% if @contact.profile_image.url.include? 'svg' %>
								<%= image_tag(@contact.profile_image.url(:original)) %>
							<% else %>
								<%= image_tag(@contact.profile_image.url(:medium)) %>
							<% end %>
						<% else %>
							<%= image_tag("/images/medium/missing.png") %>
						<% end %>
						<%= f.file_field :profile_image, class: 'form-control'%>
						<a class="img-upload-btn">Upload</a>
					</div>

					<div class="form-group edit-pro-contact">
						<fieldset class="slug">
							<%= f.label :slug %>
							<%= f.text_field :slug, :maxlength => 3, :style => 'text-transform: uppercase;' %>
						</fieldset>
						<script type="text/javascript">
							var oFormField = document.getElementById('contact_slug');
							oFormField.onkeydown = oFormField.onkeyup = function() {
							oFormField.value = oFormField.value.toUpperCase();
							oFormField.value = oFormField.value.replace(/[^A-Z]/, '');
							}
						</script>
						<fieldset class="website_url">
							<%= f.label :website_url %>
							<%= f.text_field :website_url %>
						</fieldset>
						<fieldset>
							<%= f.label :primary_email %>
							<%= f.text_field :email %>
						</fieldset>
						<fieldset>
							<%= f.label :company_name %>
							<%= f.text_field :company_name %>
						</fieldset>
						<fieldset>
							<%= f.label :payee_name %>
							<%= f.text_field :payee_name %>
						</fieldset>

						<div class="form-group contact">
							<div class="field">
								<% unless @contact.time_zone.blank? %>
									<%= f.label :time_zone %>
									<%= f.collection_select "time_zone_id",
									TimeZone.all, "id", "name",
									{include_blank: true, selected: @contact.time_zone_id},
									{ class: 'chosen-select', :data => {'placeholder' => 'Time Zone', 'value' => raw(@contact.time_zone.name)}} %>
								<% else %>
									<%= f.label :time_zone %>
									<%= f.collection_select "time_zone_id",
									TimeZone.all, "id", "name",
									{include_blank: true, selected: @contact.time_zone_id},
									{ class: 'chosen-select', :data => {'placeholder' => 'Time Zone'}} %>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<br>
				<div class="form-group">
					<%= f.label :about %><br>
					<%= f.text_area :about %>
				</div>
				<%= render :partial => 'clients/actions', :locals => {:contacts => @contacts, :f => f} %>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="form-group edit-group contacts">
					<div class="bar-header">
						<h4>Contacts</h4>
					</div>
					<%= f.fields_for :client_contacts do |client_contact| %>
						<%= client_contact.text_field :name, :class =>'odd', :placeholder => 'Name' %>
						<% unless client_contact.object.contact.blank? %>
							<%= client_contact.collection_select "client_id",
							@contacts, "id", "full_name",
							{include_blank: true, selected: client_contact.object.client_id },
							{:data => {'placeholder' => 'Contacts', 'value' => client_contact.object }} %>
						<% else %>
							<%= client_contact.collection_select "client_id",
							@contacts, "id", "full_name",
							{include_blank: true, selected: client_contact.object.client_id },
							{:data => {'placeholder' => 'Contacts'}} %>
						<% end %>
						<%= client_contact.link_to_remove raw('<i class="fa fa-times-circle"></i>') %>
					<% end %>
					<%= f.link_to_add " + Add Contact", :client_contacts %>
				</div>

				<div class="form-group edit-group emails">
					<div class="bar-header">
						<h4>Emails</h4>
					</div>

					<%= f.fields_for :emails do |email| %>
						<%= email.text_field  :name, :class =>'odd', :placeholder => 'Name'  %>
						<%= email.link_to_remove raw('<i class="fa fa-times-circle"></i>') %>
						<%= email.text_field  :email, :placeholder => 'Email'  %>
					<% end %>
					<%= f.link_to_add "+ Add Email", :emails %>
				</div>

				<div class="form-group edit-group phone-numbers">
					<div class="bar-header">
						<h4>Phone Numbers</h4>
					</div>
					<%= f.fields_for :phone_numbers do |phone_number| %>
						<%= phone_number.text_field :name, :class =>'odd', :placeholder => 'Name' %>
						<%= phone_number.link_to_remove raw('<i class="fa fa-times-circle"></i>') %>
						<%= phone_number.text_field  :number, :placeholder => 'Number'  %>
					<% end %>
					<%= f.link_to_add " + Add Phone Number", :phone_numbers %>
				</div>

				<div class="form-group edit-group urls">
					<div class="bar-header">
						<h4>URLs</h4>
					</div>

					<%= f.fields_for :website_urls do |website_url| %>
						<%= website_url.text_field  :name, :class =>'odd', :placeholder => 'Name'  %>
						<%= website_url.link_to_remove raw('<i class="fa fa-times-circle"></i>') %>
						<%= website_url.text_field  :url, :placeholder => 'URL'  %>
					<% end %>
					<%= f.link_to_add "+ Add URL", :website_urls %>
				</div>

				<div class="form-group edit-group addresses half">
					<div class="bar-header">
						<h4>Addresses</h4>
					</div>
					<%= f.fields_for :addresses do |address| %>
						<%= address.text_field :name, :class =>'odd', :placeholder => 'Name' %>
						<%= address.link_to_remove raw('<i class="fa fa-times-circle"></i>') %>
						<br>
						<%= address.text_field  :address1, :class =>'odd', :placeholder => 'Address 1'  %>
						<%= address.text_field  :address2, :placeholder => 'Address 2'  %>
						<%= address.text_field  :city, :class =>'odd', :placeholder => 'City'  %>

						<% unless address.blank? %>
							<% state = State.where(id: address.object.state_id).first %>
							<% unless state.blank? %>
								<%= address.select( "state_id", options_from_collection_for_select(@states, "id", "name", state.id), include_blank: true) %>
							<% else %>
								<%= address.select( "state_id", options_from_collection_for_select(@states, "id", "name"), include_blank: true) %>
							<% end %>
						<% end %>

						<%= address.text_field  :postal_code, :class =>'odd', :placeholder => 'Postal Code'  %>
						<%= address.hidden_field  :country_id, :value => @default_country  %>
					<% end %>
					<%= f.link_to_add " + Add Address", :addresses %>
				</div>

				<div class="form-group edit-group-social social-reaches half">
					<div class="bar-header">
						<h4>Social Networks</h4>
					</div>
					<%= f.fields_for :social_reaches do |social_reach| %>
						<%= social_reach.select( "social_network_id", options_from_collection_for_select(@social_networks, "id", "name", social_reach.object.social_network_id), include_blank: true)  %>

						<br>
						<%= social_reach.text_field :username, :class =>'odd', :placeholder => 'Username' %>
						<%= social_reach.text_field  :total_reach, :placeholder => 'Total Reach'  %>
					<% end %>
					<%= f.link_to_add " + Add Social Network", :social_reaches %>
				</div>
				<%= render :partial => 'clients/actions', :locals => {:contacts => @contacts, :f => f} %>
			</div>
		<% end %>
	</div>
</div>
