<% if @activities.any? %>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Locale</th>
			<th>Activity</th>
			<th>Contact</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @activities.each do |activity| %>
		<tr class="description-toggle">
			<td><%= activity.user.abbr_name %></td>
			<td><%= activity.user.locale.market_name %></td>
			<td><i class="fa fa-<%= activity.activity_type.fa_icon %>"></i>&nbsp;<%= activity.activity_type.name %></td>
			<td><%= activity.contact.full_name %></td>
			<td><%= activity.created_at.to_time.strftime('%m/%d/%Y ') %></td>
		</tr>
		<tr class="description hidden wysiwyg">
			<td colspan="5">
				<div>
					<% if activity.note.present? %>
					<%= raw(activity.note) %>
					<% else %>
					<p>No notes yet.</p>
					<% end %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<p class="empty">No activities yet.</p>
<% end %>
