<div class="table-holder">
	<div class="has-limit extended14">
		<% if @projects.any? %>
			<table>
				<thead class="pretty">
					<tr>
						<th class="avatar"><%= sortable "name" %></th>
						<th class="centered"><%= sortable "status" %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
						<tr class="override">
							<td class="avatar">
								<% unless project.client.blank? %>
									<div class="holder">
										<% if project.client.is_client? %>
											<% if project.client.profile_image.url.include? 'svg' %>
												<%= link_to( image_tag(project.client.profile_image.url(:original)), client_path(project.client) ) %>
											<% else %>
												<%= link_to( image_tag(project.client.profile_image.url(:thumb)), client_path(project.client) ) %>
											<% end %>
										<% else %>
											<% if project.client.profile_image.url.include? 'svg' %>
												<%= link_to( image_tag(project.client.profile_image.url(:original)), contact_path(project.client) ) %>
											<% else %>
												<%= link_to( image_tag(project.client.profile_image.url(:thumb)), contact_path(project.client) ) %>
											<% end %>
										<% end %>
										<span class="name-title-txt">
											<span class="name"><%= link_to truncate(project.name, :length => 90), sales_case_path(project) %></span>
											<br>
											<span class="title"><%= link_to project.case_number, sales_case_path(project) %></span>
										</span>
									</div>
								<% end %>
							</td>
							<td class="status centered">
								<% if project.sale_case_status.present? %><%= project.sale_case_status.name %><% end %>
							</td>
							<td class="actions">
								<a href="<%= project.url %>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>
<div class="col-sm-12 col-md-12 pagination-block">
	<% if @projects.any? %>
		<%= will_paginate @projects, :previous_label => 'Prev', :next_label => 'Next'  %>
	<% else %>
		<p class="empty">No sales cases yet.</p>
	<% end %>
</div>
