<div class="row bar-header full-bg">
  <div class="col-sm-12 col-md-12">
    <div class="has-limit">
      <% flash.each do |key, value| %>
      <div id="error_explanation"><%= value %></div>
      <% end %>
      <h2>Sales Cases</h2>
      <%= link_to '+ New Case', new_sale_path %>
    </div>
  </div>
</div>
<div class="row utility-bar">
  <div class="col-sm-12 col-md-12">
    <div class="has-limit">
      <ul class="utility">
        <li>Total: <span class="<%= @total_records_clr %>"><%= @total_records %></span></li>
        <li>Goal: <span class="green"><%= @total_records_goal %></span></li>
        <li class="view list-view current"><i class="fa fa-th-list" aria-hidden="true"></i></li>
        <li class="view grid-view"><i class="fa fa-th" aria-hidden="true"></i></li>
      </ul>
      <br>
      <ul class="main-filter">
        <li <% if !params['filter'].present? || params['filter'] == 'hot' then %>class="current"<% end %>><a href="/sales?filter=hot">Hot</a></li>
        <li <% if params['filter'] == 'warm' then %>class="current"<% end %>><a href="/sales?filter=warm">Warm</a></li>
        <li <% if params['filter'] == 'cold' then %>class="current"<% end %>><a href="/sales?filter=cold">Cold</a></li>
        <li <% if params['filter'] == 'all' then %>class="current"<% end %>><a href="/sales?filter=all">All</a></li>
          <li <% if controller.controller_name == "payments" %>class="current"<% end %>><%= link_to 'Payments', sales_payments_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="layout row">
  <%= render :partial => 'sales/grid', :locals => {:contacts => @projects} %>
  <%= render :partial => 'sales/list', :locals => {:contacts => @projects} %>
</div>

